1. Hola de nuevo, sé que estado super perdido, pero bueno, he tenido algunos problemas, hoy vamos a ver algo que se llaman API y APIrest, una API es una pequeña aplicación que toma unos datos y nos genera una salida, es como una función pero un poco más tobusta, por ejemplo PAndas es un API, supongamos que tenemos un excel con daotos, debemos traerlos por medio de Pandas, en este caso le damos una orden y el nos trae el excel, tamnbién podemos seguir ordenandole cosas como que nos muestre los registros y demás, estas API generalmente no necesitan una conexión externa


2. Por otro lado tenemos una APIrest, es exactamente lo mismo solo que para usarlas usamos un protocolo HTTP, es decir web, como es un poco dificil veamos un ejemplo, con pycoingecko, que es una libreria, que nos permite conectarnos a una web que se llama CoinGecko, en esta web hay información sobre criptonmonedas, por lo tanto esta librería lo que nos permite es mostrar en tiempo real el comportamiento de las criptomonedas, solo con usar la APIrest

In [4]:
#Primero instalamos la biblioteca con pip install Pycoingecko
#Ahora lo que hacemos e importar la librería
from pycoingecko import CoinGeckoAPI # esta librería nos sirve para traer la información de la página CoinGeckoAPI
import pandas as pd #Acá estamos importando la librería de pandas
import matplotlib.pyplot as plt #Acá estamos importando la libredia de marplotlib
import plotly.graph_objs as go #Acá traemos el 
from plotly.offline import plot
import requests
cg = CoinGeckoAPI() #Creamos el objeto cliente #Por favor revisar como se crea un objeto

In [ ]:
bitcoin_data= cg.get_coin_market_chart_by_id(id='bitcoin', vs_currency='usd', days=30 ) #esta funcion nos ayuda a saber que datos vamos a solicitar
#Particularmente en la anterior función estamos obteniendo datos de bitctoin en dolares, para los ultimos 30 días
#print(datos_bitcoin) #Ojo que acá nos trae la info como un diccionario, lo cual nos ayuda a generare un dataframe lo recuerdan?
datos = pd.DataFrame(bitcoin_data['prices'], columns=['timestamp', 'price']) #Convertimos el diccionario en un dataframe
bitcoin_data['prices']
datos #ahora si tengo en datos la fecha y el precio, pero sucede que la fecha no se entiende mucho, así quye lo que vamos a hacer es darle un formato que se entienda

         timestamp         price
0    1677207735596  23959.092439
1    1677211421874  23973.591399
2    1677214985265  23949.474727
3    1677218550098  23914.698669
4    1677222012594  23890.006218
..             ...           ...
717  1679785266034  27652.569703
718  1679788874457  27670.199498
719  1679792467943  27760.358559
720  1679796014549  27773.705254
721  1679800497000  27781.395689

[722 rows x 2 columns]

In [ ]:
#Vamos a usar la función de pandas .to_datetime, para darle formato a la fecha de la siguiente manera
datos['DATE'] = pd.to_datetime(datos['timestamp'], unit='ms') #Acá hizo una eliminación de dinamización, es decir agrupo por fecha pero con el dato minimo y maximo de cada día

datos

         timestamp         price                    DATE
0    1677207735596  23959.092439 2023-02-24 03:02:15.596
1    1677211421874  23973.591399 2023-02-24 04:03:41.874
2    1677214985265  23949.474727 2023-02-24 05:03:05.265
3    1677218550098  23914.698669 2023-02-24 06:02:30.098
4    1677222012594  23890.006218 2023-02-24 07:00:12.594
..             ...           ...                     ...
717  1679785266034  27652.569703 2023-03-25 23:01:06.034
718  1679788874457  27670.199498 2023-03-26 00:01:14.457
719  1679792467943  27760.358559 2023-03-26 01:01:07.943
720  1679796014549  27773.705254 2023-03-26 02:00:14.549
721  1679800497000  27781.395689 2023-03-26 03:14:57.000

[722 rows x 3 columns]

In [ ]:
#Ahora la ide es crear un grafico de velas, para eso tenemos que tener el maximo y el minimo diario, veamos
clandestick_data=datos.groupby(datos.DATE.dt.date).agg({'price':['min','max','first','last']})
clandestick_data

                   price
                     min           max         first          last
DATE
2023-02-24  23095.189801  23973.591399  23959.092439  23095.189801
2023-02-25  22932.896357  23202.430487  23172.286538  23140.355653
2023-02-26  23109.274125  23669.063540  23167.204864  23443.161513
2023-02-27  23225.092570  23757.151327  23541.115854  23498.790808
2023-02-28  23063.293817  23525.715579  23518.123906  23159.646637
2023-03-01  23079.254559  23829.946744  23155.543747  23504.747683
2023-03-02  23279.371229  23663.125377  23634.333489  23515.128732
2023-03-03  22259.675591  23469.231619  23469.231619  22314.527657
2023-03-04  22203.573135  22395.932301  22362.457666  22346.332339
2023-03-05  22271.621307  22609.509683  22348.329915  22455.521105
2023-03-06  22362.008240  22548.560022  22432.856346  22430.817463
2023-03-07  22051.451967  22515.215633  22414.060218  22099.854839
2023-03-08  21953.980294  22292.230163  22217.209885  21964.160708
2023-03-09  20207.416674  21780.264719  21716.156323  20381.708089
2023-03-10  19662.441492  20368.318163  20368.318163  20125.326860
2023-03-11  19997.685893  20641.533847  20161.423237  20377.603317
2023-03-12  20354.176853  21841.337966  20521.556152  21841.337966
2023-03-13  22071.314751  24333.878560  22095.713398  24249.976304
2023-03-14  24178.955328  25959.192987  24178.955328  24712.994794
2023-03-15  24312.453879  25018.740409  24758.765086  24557.654418
2023-03-16  24375.929509  25116.780421  24470.882054  25116.780421
2023-03-17  25076.024084  27742.567304  25166.029425  27742.567304
2023-03-18  27126.210382  27804.542132  27454.092345  27126.210382
2023-03-19  27122.667739  28376.482461  27124.652906  28277.713762
2023-03-20  27465.206770  28500.164500  28133.485276  28233.870636
2023-03-21  27743.731862  28617.570561  27960.961697  28217.536218
2023-03-22  26980.196145  28792.012532  28294.102225  27417.987801
2023-03-23  27410.848696  28758.095491  27449.254831  28384.276997
2023-03-24  27487.113509  28454.455650  28454.455650  27487.113509
2023-03-25  27472.775494  27831.423558  27651.325951  27652.569703
2023-03-26  27670.199498  27781.395689  27670.199498  27781.395689

In [50]:
fig = go.Figure(data=[go.Candlestick(x=clandestick_data.index,
                                      open=clandestick_data['price']['first'],
                                      high=clandestick_data['price']['max'],
                                      low=clandestick_data['price']['min'],
                                      close=clandestick_data['price']['last'])])#Esto es re confuso pero lo que hice en realidad fue como crear un objeto html, que muestra un gratico de velas, vamos a ver
fig.update_layout(xaxis_rangeslider_visible=False, xaxis_title='Date', yaxis_title='Price (USD)', title='Gráfica de Bit coin ultimos 30 días')

plot(fig, filename='bitcoin_candlestick_graph.html')

'bitcoin_candlestick_graph.html'

LA verdad es que esto es una locura, ver como esto grafica me deja impresionado, la verdad,es re dificil, pero bueno con calam me encanto este modulo

In [16]:
#Sigamos haciendo llamados con las API
url='https://www.ibm.com/' #Lo que hacemos es definir una variable con el link al que vamos a citar
r=requests.get(url) # Acá guardamos la respuesta de la solicitud get
r.status_code:200  # Acá obtenemos el estado de el HTTP, esperando que sea 200
r.request.headers #Aca lo hacemos es traer el header de la página
r.request.body:None #Acá solicitamos el body, pero para este caso esperamos que el body, no tenga nada
header=r.headers #Obtenemos los headers y los ponemos en la variable header, ojo que esto viene en un diccionario
header
header['date'] #Aca obtenemos la fecha en la que se envio la respuesta http
header['Content-Type'] #Acá obtenemos el tipo de archivoi que esta en el requerimiento
r.encoding:'UTF-8' #Esta es la forma en que vamos a interpretar la respuesta que obtengamos
r.text[0:100]

'<!DOCTYPE html>\n<html lang="es-mx" dir="ltr">\n  <head>\n    <meta charset="utf-8" />\n<script>digitalD'