<h1>Pandas</h1>
<h2>Ahora si que empiece lo lindo, por fin vamos a usar pandas, tengo muchas ancias de empezar con toda</h2>

In [7]:
import pandas #Así se importa pandas, pero antes de importarla debemos estar seguros de haberla instqalado en la terminal o consola con pip install pandas
#Empecemos importando un archivo csv
archivo_csv="/Users/joseluisrinconortiz/Downloads/Wine_Quality_Data2.csv" #Lo primero que hacemos es asignarle a una variable la ruta del archivo CSV que queremos llenar
lectura_CSV=pandas.read_csv(archivo_csv) #luego en una segunda variable, guardamos lo que se leyo en el archivo, usando el metodo read_csv (archivo "primera variable") 
lectura_CSV.head() # mostramos los cinco primeros registros del archivo de datos

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality,color
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,red
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,red
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,red
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red

In [13]:
import pandas
#Ahora carguemos un archivo excel, parece que es similar
archivo_excel="/Users/joseluisrinconortiz/Downloads/Todo_BDS.xlsx" #Taemos la ruta y la guardamos en una variable
lectura_excel=pandas.read_excel(archivo_excel) #Ahora en otra variable guardamos lo que leemos en el archivo que traemos
lectura_excel.head() #Por último muestro los cinco primeros registros del archivo
#Para realizar este ejercicio, tuve que instalar en la consola un complementos (pip installopenpyxl) super importante para que funcione

,Nombre completo,Año,ID,Mail,País,Cargo,Linea,Jefe inmediato,cerrado,estado,...,Nota 3 noviembre,Nota 4 noviembre,Nivela 1 noviembre,Nivela 2 noviembre,Tema1 noviembre,Tema2 noviembre,definitiva11,mes 11,promedio_total,Column53
0,Jose Martín Jerez,2022.0,28558.0,jose.jerez@pharmadorf.com.ar,Argentina,Agente de propaganda médica,Mixto,Jose Ignacio Delgado,OK,activo,...,NaN,98.3325,NaN,NaN,NaN,NaN,96.41625,noviembre,70.479375,NaN
1,Martin Badia,2022.0,10921.0,martin.badia@pharmadorf.com.ar,Argentina,Agente de propaganda médica,Cronicos,Jose Ignacio Delgado,OK,activo,...,NaN,95,NaN,NaN,NaN,NaN,97.5,noviembre,97.968750,NaN
2,Paula Soledad Pallares,2022.0,11030.0,paula.pallares@pharmadorf.com.ar,Argentina,Agente de propaganda médica,Cronicos,Jose Ignacio Delgado,OK,activo,...,NaN,95,NaN,NaN,NaN,NaN,90,noviembre,96.250000,NaN
3,Ezequiel Alfonso Alvarado,2022.0,13333.0,ezequiel.alvarado@pharmadorf.com.ar,Argentina,Agente de propaganda médica,Salud Femenina,Jose Ignacio Delgado,OK,activo,...,NaN,90,NaN,NaN,NaN,NaN,88.75,noviembre,94.812500,NaN
4,Laura Benedetti,2022.0,10789.0,laura.benedetti@pharmadorf.com.ar,Argentina,Agente de propaganda médica,Salud Femenina,Jose Ignacio Delgado,OK,activo,...,NaN,90,NaN,NaN,NaN,NaN,94.5,noviembre,81.781250,NaN

In [15]:
#Desde un diccionario podemos crear DATAFRAMES, los dataframe son organizaciones de datos en columnas y filas, veamos como pandas los hace
equipos={"nombres":["junior", "america", "Santafe", "millonarios", "caldas"],"copas":["9","13","10","14","2"],"Capital":["Barranquilla", "Cali", "Bogotá", "Bogotá", "Manizales"]} #Primero defino un diccionario
equipos_arreglados=pandas.DataFrame(equipos)  #Después de teer definidos los diccionarios los convierto en DataFramen con el metodo
equipos_arreglados.head() #Ahora muestro los primeros cinco registros

#Ojo las llaves de los diccionarios son los encabezados de las columnas y los calores de los diccionarios son los registros

       nombres copas       Capital
0       junior     9  Barranquilla
1      america    13          Cali
2      Santafe    10        Bogotá
3  millonarios    14        Bogotá
4       caldas     2     Manizales

In [21]:
#Podemos crear un DATAFRAME de solo una columna desde otro DATAFRAME, veamos el ejemplo
aislada=lectura_CSV[["Capital"]]

KeyError: "None of [Index(['Capital'], dtype='object')] are in the [columns]"