<h2>En este caso trabajaremos tuplas, estas son super importantes y hay que prestar mucha atención, las tuplas son un tipo de datos compuesto</h2>

<h3>Tuplas</h3>

In [1]:
#LAS TUPLAS SON SECUENCIAS ORDENADAS DE DATOA, se ecpresan com parentesis y los datos se separan por comas
rating=(10,9,8,7,6,5,4,3,2,1,0)
print(rating)

(10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0)

In [2]:
#Una tupla puede contener tipos de datos variados, int, str, float... Sin embargo, se guardata como tipo de dato tuple
datos=("cedula", "80865042", 37, "masculino")

In [3]:
print(type(datos))#Acá vemos como los tipos de dato dentro de los parentesis los toma con formato tuple

<class 'tuple'>

In [4]:
#Puedo acceder a los elementos de la tupla usando, un indice, de izquierda a derecha comienza con 0 y de derecha a izquierda comienza con -1
datos[0]# este dee llamar el elmento de izquiera a derecha

'cedula'

In [5]:
datos[1]#Debe traerme la cédula

'80865042'

In [6]:
datos[2]# Debe traerme la edad

37

In [7]:
datos[3]# Debe traerme el genero

'masculino'

In [11]:
#Podemos adicionarle elementos a la tupla, o agrandandola, de la siguiente manera
datos_completos=datos+("famisanar", 3,500.000)

In [12]:
print(datos_completos)

('cedula', '80865042', 37, 'masculino', 'famisanar', 3, 500.0)

In [15]:
#si quiero llamar ciertos elementos de las tuplas (no solo uno), puedo cortarla usando indices
datos_completos[0:3]

('cedula', '80865042', 37)

In [16]:
tupla1=(1,2,3,4,5)
tupla1[1:4]# hay que tener claro que cuando llamo los indices estos no se muestran.

(2, 3, 4)

Para medir la longitud de una tupla o una lista se puede usar la función , hay que tener en cuenta que las tuplas son inmutables, por esta razón no podemos cambiar sus valores, si queremos manipular una tupla lo mejor será crear otra tupla en su lugar,

In [4]:
tupla1=(1,2,3,4,5,6) #Acá vemos como medir la longitud de una tupla
longitud_tupla1=len(tupla1)
print(longitud_tupla1)

6

Para ordenar una tupla lo que podemos hacer es usar la función sorted, pero debemos crear una tupla nueva que guarde ese resultado, ver eel ejemplo

In [6]:
digitos=(1,3,2,4,6,5,7,9,8,0)
digitos_ordenados=sorted(digitos)
print(digitos_ordenados)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

Una tupla puede contener otra tupla y otros tipos de datos, a este proceso se le llama anidación, para acceder a estos elementos podemos usar indices, para llamar una tupla dentro de otra tupla podemos hacer un llamado de arbol, es decir usar un indice pequeño de la tupla anidada, es mejor con un ejemplo

In [8]:
mezclados=(1,2,("pop","rock"),(3,4),("disco",(1,2)))
mezclados[2][0]#Esto nos debe mostrar la palabra pop

'pop'

In [9]:
mezclados=(1,2,("pop","rock"),(3,4),("disco",(1,2)))
mezclados[3][1]#Esto debería mostrarnos el número 4

4

In [12]:
mezclados=(1,2,("pop","rock"),(3,4),("disco",(1,2)))
mezclados[4][1][1]#Esto debería mostrarnos el número 2, acá estoy entrando en tres tuplas anidadas

2

<h3>Litas</h3>

Las listas son una secuencia ordenada de datos, son muy populares en python, al contrario de las tuplas las listas se representan con corchetes, y en su interior los datos se separan por comas, las listas por el contrario de las tuplas si se pueden modificar, las listas pueden contener diferentes tipos de datos, incluso pueden contener tuplas, se aplican las mimas reglas de indexación

In [1]:
datos_lista=["nombres: Jose luis", "apellidos: Rincón Ortiz","edad: ", 37, "sexo: ", True]
datos_lista[0:2] #De esta manera podemos traer ciertas partes de la lista

['nombres: Jose luis', 'apellidos: Rincón Ortiz']

Las listas se pueden concatenar y combinar, veamos el siguiente ekemplo

In [6]:
nombres_ =["Jose"," Luis" ]
apellidos_=[" Rincon ", "Ortiz"]
print(nombres_+ apellidos_) #Este es un ejemlo de como puedo concatenar listas

['Jose', ' Luis', ' Rincon ', 'Ortiz']

In [7]:
#Ejercicio
[1,2,3]+[1,1,1]

[1, 2, 3, 1, 1, 1]

In [16]:
#Podemos extender una lista se puede usar el medito de .extend, como en el siguiente ejemplo, ojo por que en contrario con el caso de .appen en este caso no se crea una nueva lista.
nombres_.extend([apellidos_])
nombre_lala=["Laura","Carolina"]
nombre_lala.extend(["Parada","Rincon"])
print(nombre_lala)

['Laura', 'Carolina', 'Parada', 'Rincon']

In [9]:
print(nombres_)

['Jose', ' Luis', [' Rincon ', 'Ortiz']]

In [12]:
#El otro metodo para agregar un elemento a una lista es .append, miremos el ejemplo
nombres_ =["Jose"," Luis" ]
nombres_.append(["Rincon","Ortiz"])
print(nombres_)

['Jose', ' Luis', ['Rincon', 'Ortiz']]

In [14]:
#Ejercicio
A = [1]
A.append([2,3,4,5])
len(A)

2

In [22]:
#Como las listas son mutables se pueden cambiar solo llamando al indice que queremos cambiar, veamos el siguiente ejemplo
abcdario=["a","b","c","d","z","f","g","..."]
#Como se ve la z no esta en el lugar que corresponde entonces cambiaremos por la e
abcdario[4]="e"
abcdario.extend(["7"])#Vamos a agregar un siete para luego eliminarlo usando la función del
print(abcdario)

['a', 'b', 'c', 'd', 'e', 'f', 'g', '...', '7']

In [23]:
del(abcdario[8]) #en este caso voy a eliminar el indice 8, que es un 7, por que es un número y los números no tienen por que estar en el abcdario
print(abcdario)

['a', 'b', 'c', 'd', 'e', 'f', 'g', '...']

In [29]:
#Como las cadenas son inmutables, las podemos convertir en listas, para poderlas cambiar, esto lo podemos hacer con el metodo split()
nombre_completo="Jose Luis Rincon Ortiz"
"Jose Luis Rincon Ortiz".split()

['Jose', 'Luis', 'Rincon', 'Ortiz']

In [36]:
#También se puede usar el el split para poner un separador entre los datos
"Laura Carolina Parada Rincon".split(",") # de esta manera se eliminan las comas y queda todo en un lista

['Laura Carolina Parada Rincon']

In [37]:
"LAURA CAROLINA PARADA RINCON".split()#De esta manera queda separado por listas diferentes

['LAURA', 'CAROLINA', 'PARADA', 'RINCON']

In [39]:
help(nombre_completo)#El comando help ayuda a buscar información sobre una función o sobre un elemento en python

No Python documentation found for 'Jose Luis Rincon Ortiz'.
Use help() to get the interactive help utility.
Use help(str) for help on the str class.

In [40]:
#ejercicio
AB=(1,2,3,4,5)
AB[1:4]

(2, 3, 4)

In [42]:
#eje4rcicio
ABC=[1]
ABC.append([2,3,4,5])
len(ABC)

2